/* === Marketplace Section Highlight === */
.highlighted {
  background-color: rgba(40, 54, 24, 0.82);
  color: white;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  transition: background-color .7s ease;
}

/* === Marketplace Theme === */
.marketplaceBody {
  background-color: #606C38;
  color: #FEFAE0;
  margin: 5px;
  height: 100px;
}

.card-title {
  font-weight: 600;
}

.titleLink {
  text-decoration: none;
  color: #FEFAE0;
}

.titleLink:hover {
  background-color: #BC6C25;
  color: #FEFAE0;
}

.resource-card {
  border-radius: 0px;
  border-width: 5px;
  margin: 0px;
  background-color: #FEFAE0;
  height: 100%;
}
