body {
    font-family: Garamond;
    background-color: #FEFAE0;
    color: #283618;
    letter-spacing: 0px;
}

/* custom navbar start */
nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

.navbar-custom {
    background-color: #606C38;
}

.dropdown-menu,
.form-control {
    background-color: #FEFAE0;
    color: #283618;
}

.navbar-toggler {
    background-color: #FEFAE0;
    color: #606C38;
}

.form-control:focus {
    border-color: #BC6C25;
    background-color: #FEFAE0;
    box-shadow: 0 0 0 0.2rem rgba(188, 108, 37, 1);
}
.navbar-brand{
    font-weight:600;
}
.navbar-brand,
.navbar-nav,
.nav-link,
.navbar-text,
.nav-item {
    color: #FEFAE0 !important;
}

.nav-link:hover,
.navbar-brand:hover,
.nav-link:focus {
    color: #283618 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #BC6C25;
    color: #283618;
}

/* custom navbar end*/

/* ids for coloring major sections start */

#backgroundPrimary {
    background-color: #606C38;
    color: #FEFAE0;
}

#backgroundLight {
    background-color: #DDA15E;
    color: #283618;
    border-radius: 200px;
    padding: 30px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
}

#backgroundDark {
    background-color: #BC6C25;
    color: #FEFAE0;
    border-radius: 200px;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#imgShape {
    border-radius: 50%;
}

#backgroundFooter {
    background-color: #BC6C25;
    color: #FEFAE0;
}

/* ids for coloring major sections end*/

/* circular images start */

.rect-img-container {
    position: relative;
}

.rect-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* circular images end */

/* button styling start */

.btn{
    background-color: #BC6C25;
    color: #FEFAE0;
    transition-duration: 0.2s;
    box-shadow: none;
    border: 0px;
}
.btn:hover{
    background-color:#606C38;
    color: #FEFAE0;
}
.nav-link{
    color: #fefae0;
}

.buttonWhite{
    background-color: #FEFAE0;
    color: #283618;
    transition-duration: 0.2s;
    box-shadow: none;
    border: 0px;
}

.buttonDark:hover{
    background-color:#283618;
    color: #FEFAE0;
}

/*button styling end*/

/* accordion styling (faq and services) start */

.accordion-button{
    background-color: #606C38;
    color: #FEFAE0;
    box-shadow:none;
}
.accordion-button:hover{
    background-color: #283618;
}

.accordion-button:not(.collapsed){
    background-color: #283618;
    color: #FEFAE0;
    box-shadow: none;
}

.accordion-body{
    background-color: #FEFAE0;
}

.accordion-item{
    border:none;
}

/* accordion styling (faq and services) end */

/* calculator styling start */

.btn-group-vertical{
    background-color: #606C38;
    color: #FEFAE0;
    border-radius: 4px;
}
.calcButton{
    background-color: #BC6C25;
    color: #FEFAE0;
}
.calcButton:hover{
    background-color: #DDA15E !important;
    color: #283618 !important;
    border-radius: 4px;
}
/* calculator styling end */

/* miscellaneous start */

.bold{
    font-weight: 600;
}

.badge{
    background-color: #606C38 !important;
}
.navFooter:focus{
    border-color: #606c38;
    box-shadow: 0 0 0 0.2rem rgba(96, 108, 56, 1);
}

.card{
    border:none;
}

/* miscellaneous end */

/*form-control and form-select*/
.form-control, .form-select{
    background-color: white;
    color: #283618;
  }
  
  .form-control:hover, .form-control:focus{
    background-color: white;
    color: black;
  }

  /*blog sidebar and footer links start */
  .blogSidebar{
    color: #FEFAE0;
    text-decoration: none;
  }
  .footerLink{
    color:#FEFAE0;
  }
  .blogSidebar:hover, .footerLink:hover{
    color:#283618;
  }